In [5]:
# Import the necessary packages.
import pandas as pd
import numpy as np

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [16]:
# Import data set actual_duration csv as ad. 
ad = pd.read_csv('actual_duration.csv')

# Print the DataFrame.
print(ad.columns)

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [6]:
# Import data set appointment_regional csv as ar.
ar = pd.read_csv('appointments_regional.csv')

# Print the DataFrame.
print(ar.columns)

Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')

In [7]:
# Import data set national_categories xlsx as nc. 
nc = pd.read_excel('national_categories.xlsx')

# View the DataFrame.
print(nc.columns)

Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [9]:
# Validate data types actual_duration
ad.dtypes

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [21]:
# Validate data types appointment_regional
ar.dtypes

icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [22]:
# Validate data types national_categories
nc.dtypes

appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [9]:
# Descriptive statistics. actual_duration.
ad.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [10]:
# Descriptive statistics. appointment_regional
ar.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [11]:
# Descriptive statistics.  national_categories
nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [4]:
# Summary of DataFrame ad
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [23]:
# Summary of DataFrame ar
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [24]:
# Summary of DataFrame nc
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [12]:
# No of records actual_duration ad.
print(len(ad))

137793

In [17]:
# No of records appointment_regional ar.
print(len(ar))

596821

In [18]:
# No of records national_categories nc.
print(len(nc))

817394

In [89]:
# Sum of appointments actual_duration ad.
print(ad['count_of_appointments'].sum())

167980692

In [90]:
# Sum of appointments appointment_regional ar.
print(ar['count_of_appointments'].sum())

742804525

In [91]:
# Sum of appointments national_categories nc.
print(nc['count_of_appointments'].sum())

296046770

In [9]:
# Count locations - actual_duration ad
ad['sub_icb_location_name'].value_counts()

NHS Norfolk and Waveney ICB - 26A                       1484
NHS Kent and Medway ICB - 91Q                           1484
NHS North West London ICB - W2U3Z                       1484
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y    1484
NHS Greater Manchester ICB - 14L                        1484
                                                        ...
NHS Staffordshire and Stoke-on-Trent ICB - 05D          1051
NHS South Yorkshire ICB - 03L                           1028
NHS North East and North Cumbria ICB - 00P              1025
NHS South Yorkshire ICB - 02P                           1022
NHS Cheshire and Merseyside ICB - 01F                   1013
Name: sub_icb_location_name, Length: 106, dtype: int64

In [79]:
# Count locations - appointment_regional ar.
ar['icb_ons_code'].value_counts()

E54000057    54527
E54000008    48253
E54000050    43774
E54000048    36360
E54000051    31069
E54000010    27401
E54000054    26960
E54000061    23466
E54000026    22342
E54000044    19806
E54000053    18510
E54000025    16809
E54000023    16326
E54000015    15587
E54000042    12057
E54000060     9608
E54000055     8206
E54000029     7700
E54000032     7615
E54000062     7561
E54000030     7462
E54000037     7453
E54000031     7324
E54000027     7299
E54000056     7178
E54000039     6993
E54000052     6921
E54000058     6875
E54000038     6813
E54000036     6714
E54000043     6707
E54000022     6582
E54000028     6579
E54000018     6303
E54000013     6061
E54000019     6013
E54000011     5996
E54000034     5768
E54000059     5759
E54000024     5467
E54000041     5345
E54000040     5272
Name: icb_ons_code, dtype: int64

In [76]:
# Count locations - actual duration ad.
ad['icb_ons_code'].value_counts()

E54000057    12668
E54000008    10636
E54000050     9938
E54000048     9808
E54000051     7973
E54000010     7208
E54000054     6681
E54000026     6653
E54000061     4471
E54000053     4339
E54000015     4103
E54000044     3930
E54000025     3903
E54000023     3893
E54000060     2561
E54000042     2513
E54000032     1484
E54000024     1484
E54000029     1484
E54000022     1484
E54000027     1484
E54000037     1483
E54000062     1480
E54000055     1477
E54000056     1471
E54000041     1454
E54000013     1445
E54000052     1443
E54000028     1435
E54000034     1421
E54000036     1420
E54000058     1395
E54000059     1392
E54000011     1385
E54000039     1365
E54000031     1359
E54000030     1358
E54000019     1311
E54000043     1294
E54000018     1258
E54000040     1242
E54000038     1207
Name: icb_ons_code, dtype: int64

In [77]:
# Count locations - national categories nc.
nc['icb_ons_code'].value_counts()

E54000057    59180
E54000008    53744
E54000050    53707
E54000048    43381
E54000054    42888
E54000051    41402
E54000010    34808
E54000026    33309
E54000061    27812
E54000044    27539
E54000015    27409
E54000053    25835
E54000025    25242
E54000023    20632
E54000042    17419
E54000060    14473
E54000027    13007
E54000032    12637
E54000037    12526
E54000029    11837
E54000055    11789
E54000062    11776
E54000022    11579
E54000040    11545
E54000031    10612
E54000030    10527
E54000041    10516
E54000058    10473
E54000056    10086
E54000052     9994
E54000018     9895
E54000043     9864
E54000028     9860
E54000039     9673
E54000024     9490
E54000019     9348
E54000036     9238
E54000059     9148
E54000034     8844
E54000038     8219
E54000013     8070
E54000011     8061
Name: icb_ons_code, dtype: int64

In [20]:
# Count locations - national_categories nc. 
nc['sub_icb_location_name'].value_counts()

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
                                               ...
NHS North East and North Cumbria ICB - 00N      4210
NHS Lancashire and South Cumbria ICB - 02G      4169
NHS Cheshire and Merseyside ICB - 01V           3496
NHS Cheshire and Merseyside ICB - 01T           3242
NHS Greater Manchester ICB - 00V                2170
Name: sub_icb_location_name, Length: 106, dtype: int64

In [15]:
# Categorical count. 
def cat_cnt(df1):
    print(df1.value_counts())

# Number of appointments per location.
df = ad['sub_icb_location_name'].astype('category')

# View the output.
cat_cnt(df)

NHS Greater Manchester ICB - 14L                  1484
NHS North East London ICB - A3A8R                 1484
NHS Norfolk and Waveney ICB - 26A                 1484
NHS Kent and Medway ICB - 91Q                     1484
NHS North West London ICB - W2U3Z                 1484
                                                  ...
NHS Staffordshire and Stoke-on-Trent ICB - 05D    1051
NHS South Yorkshire ICB - 03L                     1028
NHS North East and North Cumbria ICB - 00P        1025
NHS South Yorkshire ICB - 02P                     1022
NHS Cheshire and Merseyside ICB - 01F             1013
Name: sub_icb_location_name, Length: 106, dtype: int64

In [44]:
# Create Location_name set - ad
location_set_ad = set(ad['sub_icb_location_name'])

# Count the set
print(len(location_set_ad))

106

In [45]:
# Create Location_code set - ad
Region_set_ad = set(ad['sub_icb_location_code'])

# Count the set
print(len(Region_set_ad))

106

In [66]:
#ar. no of regions

# Create Location_code set - ar
location_set_ar = set(ar['icb_ons_code'])

# Count the set
print(len(location_set_ar))

42

In [72]:
#nc. no of regions

# Create Location_code set - nc
region_set_nc = set(nc['icb_ons_code'])

# Count the set
print(len(region_set_nc))

42

In [73]:
#nc. no of locations

# Create Location_code set - nc
region_location_nc = set(nc['sub_icb_location_name'])

# Count the set
print(len(region_location_nc))

106

In [ ]:
#nc. no of regions

# Create Location_code set - ad
region_set_nc = set(nc['icb_ons_code'])

# Count the set
print(len(region_set_nc))

In [71]:
#nc. no of context_type

# Create Location_code set - ad
context_type_nc = set(nc['context_type'])

#View the set
context_type_nc

{'Care Related Encounter', 'Inconsistent Mapping', 'Unmapped'}

In [61]:
#nc. no of service_setting

# Create Location_code set - ad
service_setting_nc = set(nc['service_setting'])

#View the set
service_setting_nc

{'Extended Access Provision',
 'General Practice',
 'Other',
 'Primary Care Network',
 'Unmapped'}

In [64]:
#nc. no national_category

# Create Location_code set - ad
national_category_nc = set(nc['national_category'])

#View the set
national_category_nc

{'Care Home Needs Assessment & Personalised Care and Support Planning',
 'Care Home Visit',
 'Clinical Triage',
 'General Consultation Acute',
 'General Consultation Routine',
 'Group Consultation and Group Education',
 'Home Visit',
 'Inconsistent Mapping',
 'Non-contractual chargeable work',
 'Patient contact during Care Home Round',
 'Planned Clinical Procedure',
 'Planned Clinics',
 'Service provided by organisation external to the practice',
 'Social Prescribing Service',
 'Structured Medication Review',
 'Unmapped',
 'Unplanned Clinical Activity',
 'Walk-in'}

In [65]:
# Count the set
len(national_category_nc)

18