### LSE Data Analytics Online Career Accelerator

# Course 2: Data Analytics using Python

## Assignment: Diagnostic Analysis using Python

Youâ€™ll be working with real-world data to address a problem faced by the National Health Service (NHS). The analysis will require you to utilise Python to explore the available data, create visualisations to identify trends, and extract meaningful insights to inform decision-making.

### A note for students using this template
This Jupyter Notebook is a template you can use to complete the Course 2 assignment: Diagnostic Analysis using Python. 

Keep in mind: 
- You are **not required** to use this template to complete the assignment. 
- If you decide to use this template for your assignment, make a copy of the notebook and save it using the assignment naming convention: **LastName_FirstName_DA201_Assignment_Notebook.ipynb**.
- The workflow suggested in this template follows the Assignment Activities throughout the course.
- Refer to the guidance on the Assignment Activity pages for specific details. 
- The markup and comments in this template identify the key elements you need to complete before submitting the assignment.
- Make this notebook your own by adding your process notes and rationale using markdown, add links, screenshots, or images to support your analysis, refine or clarify the comments, and change the workflow to suit your process.
- All elements should be functional and visible in your Notebook. 
- Be sure to push your notebook to GitHub after completing each Assignment Activity.

 > ***Markdown*** Remember to change cell types to `Markdown`. You can review [Markdown basics](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) to find out how to add formatted text, links, and images to your notebook.

#

# Assignment activity 1

### Insert proof of your GitHub repository. This can be a link or screenshot showing your repo.

In [ ]:
# My GitHub repository.
https://github.com/essjmeha/Assignment_Diagnostic_Anatysis_using_Python

#

# Assignment activity 2

### Prepare your workstation

In [1]:
# Import the necessary libraries.
import pandas as pd
import numpy as np

# Optional - Ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import and sense-check the actual_duration.csv data set as ad.
ad = pd.read_csv('actual_duration.csv')

# View the DataFrame.
print(ad.shape)
print(ad.columns)
print(ad.head)

(137793, 8)
Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')
<bound method NDFrame.head of        sub_icb_location_code sub_icb_location_ons_code  \
0                        00L                 E38000130
1                        00L                 E38000130
2                        00L                 E38000130
3                        00L                 E38000130
4                        00L                 E38000130
...                      ...                       ...
137788                 X2C4Y                 E38000254
137789                 X2C4Y                 E38000254
137790                 X2C4Y                 E38000254
137791                 X2C4Y                 E38000254
137792                 X2C4Y                 E38000254

                             sub_icb_location_name icb_ons_code  \
0       NHS North East and North Cumbria ICB - 00L    E54000050
1       NHS North East and North Cumbria ICB - 00L    E54000050
2       NHS North East and North Cumbria ICB - 00L    E54000050
3       NHS North East and North Cumbria ICB - 00L    E54000050
4       NHS North East and North Cumbria ICB - 00L    E54000050
...                                            ...          ...
137788              NHS West Yorkshire ICB - X2C4Y    E54000054
137789              NHS West Yorkshire ICB - X2C4Y    E54000054
137790              NHS West Yorkshire ICB - X2C4Y    E54000054
137791              NHS West Yorkshire ICB - X2C4Y    E54000054
137792              NHS West Yorkshire ICB - X2C4Y    E54000054

       region_ons_code appointment_date         actual_duration  \
0            E40000012        01-Dec-21           31-60 Minutes
1            E40000012        01-Dec-21           21-30 Minutes
2            E40000012        01-Dec-21            6-10 Minutes
3            E40000012        01-Dec-21  Unknown / Data Quality
4            E40000012        01-Dec-21           16-20 Minutes
...                ...              ...                     ...
137788       E40000012        30-Jun-22           31-60 Minutes
137789       E40000012        30-Jun-22           21-30 Minutes
137790       E40000012        30-Jun-22           16-20 Minutes
137791       E40000012        30-Jun-22           11-15 Minutes
137792       E40000012        30-Jun-22             1-5 Minutes

        count_of_appointments
0                         364
1                         619
2                        1698
3                        1277
4                         730
...                       ...
137788                    430
137789                    751
137790                    921
137791                   1439
137792                   1739

[137793 rows x 8 columns]>

In [3]:
# Determine whether there are missing values.
# Sum of missing values.
ad['count_of_appointments'].isnull().sum()

0

In [4]:
# Check ar DataFrame for missing values.
ad_na = ad[ad.isna().any(axis=1)]
ad_na.shape

(0, 8)

In [5]:
# Determine the metadata of the data set.
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [6]:
# Determine the descriptive statistics of the data set.
ad.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [7]:
# Import and sense-check appointment_regional.csv data set as ar
ar = pd.read_csv('appointments_regional.csv')

# View the DataFrame.
print(ar.shape)
print(ar.columns)
print(ar.head)

(596821, 7)
Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')
<bound method NDFrame.head of        icb_ons_code appointment_month appointment_status hcp_type  \
0         E54000034           2020-01           Attended       GP
1         E54000034           2020-01           Attended       GP
2         E54000034           2020-01           Attended       GP
3         E54000034           2020-01           Attended       GP
4         E54000034           2020-01           Attended       GP
...             ...               ...                ...      ...
596816    E54000050           2022-06            Unknown  Unknown
596817    E54000050           2022-06            Unknown  Unknown
596818    E54000050           2022-06            Unknown  Unknown
596819    E54000050           2022-06            Unknown  Unknown
596820    E54000050           2022-06            Unknown  Unknown

       appointment_mode time_between_book_and_appointment  \
0          Face-to-Face                             1 Day
1          Face-to-Face                    15  to 21 Days
2          Face-to-Face                       2 to 7 Days
3          Face-to-Face                    22  to 28 Days
4          Face-to-Face                     8  to 14 Days
...                 ...                               ...
596816          Unknown                       2 to 7 Days
596817          Unknown                    22  to 28 Days
596818          Unknown                     8  to 14 Days
596819          Unknown                 More than 28 Days
596820          Unknown                          Same Day

        count_of_appointments
0                        8107
1                        6791
2                       20686
3                        4268
4                       11971
...                       ...
596816                     21
596817                      8
596818                     28
596819                     17
596820                     10

[596821 rows x 7 columns]>

In [8]:
# Determine whether there are missing values.
# Sum of missing values.
ar['count_of_appointments'].isnull().sum()

0

In [9]:
# Check ar DataFrame for missing values.
ar_na = ar[ar.isna().any(axis=1)]
ar_na.shape

(0, 7)

In [10]:
# Determine the metadata of the data set.
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [11]:
# Determine the descriptive statistics of the data set.
ar.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [12]:
# Import and sense-check national_categories xlsx data set as nc
nc = pd.read_excel('national_categories.xlsx')

# View the DataFrame.
print(nc.shape)
print(nc.columns)
print(nc.head)

(817394, 8)
Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')
<bound method NDFrame.head of        appointment_date icb_ons_code  \
0            2021-08-02    E54000050
1            2021-08-02    E54000050
2            2021-08-02    E54000050
3            2021-08-02    E54000050
4            2021-08-02    E54000050
...                 ...          ...
817389       2022-06-30    E54000054
817390       2022-06-30    E54000054
817391       2022-06-30    E54000054
817392       2022-06-30    E54000054
817393       2022-06-30    E54000054

                             sub_icb_location_name            service_setting  \
0       NHS North East and North Cumbria ICB - 00L       Primary Care Network
1       NHS North East and North Cumbria ICB - 00L                      Other
2       NHS North East and North Cumbria ICB - 00L           General Practice
3       NHS North East and North Cumbria ICB - 00L           General Practice
4       NHS North East and North Cumbria ICB - 00L           General Practice
...                                            ...                        ...
817389              NHS West Yorkshire ICB - X2C4Y  Extended Access Provision
817390              NHS West Yorkshire ICB - X2C4Y  Extended Access Provision
817391              NHS West Yorkshire ICB - X2C4Y  Extended Access Provision
817392              NHS West Yorkshire ICB - X2C4Y  Extended Access Provision
817393              NHS West Yorkshire ICB - X2C4Y  Extended Access Provision

                  context_type                       national_category  \
0       Care Related Encounter  Patient contact during Care Home Round
1       Care Related Encounter                         Planned Clinics
2       Care Related Encounter                              Home Visit
3       Care Related Encounter              General Consultation Acute
4       Care Related Encounter            Structured Medication Review
...                        ...                                     ...
817389  Care Related Encounter             Unplanned Clinical Activity
817390  Care Related Encounter                         Planned Clinics
817391  Care Related Encounter              Planned Clinical Procedure
817392  Care Related Encounter            General Consultation Routine
817393  Care Related Encounter              General Consultation Acute

        count_of_appointments appointment_month
0                           3           2021-08
1                           7           2021-08
2                          79           2021-08
3                         725           2021-08
4                           2           2021-08
...                       ...               ...
817389                     12           2022-06
817390                      4           2022-06
817391                     92           2022-06
817392                      4           2022-06
817393                     19           2022-06

[817394 rows x 8 columns]>

In [13]:
# Determine whether there are missing values.
# Sum of missing values.
nc['count_of_appointments'].isnull().sum()

0

In [14]:
# Check ar DataFrame for missing values.
nc_na = nc[nc.isna().any(axis=1)]
nc_na.shape

(0, 8)

In [15]:
# Determine the metadata of the data set.
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [16]:
# Determine the descriptive statistics of the data set.
nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

### Explore the data set

**Question 1:** How many locations are there in the data set?

In [17]:
# Determine the number of locations - using sub_icb_location_code for file ad.
Region_set_ad = set(ad['sub_icb_location_code'])

# Count the set
print(len(Region_set_ad))

106

In [18]:
# Determine the number of locations - using icb_ons_code for file ad.

# Create Location_code set - ar
location_set_ad = set(ad['icb_ons_code'])

# Count the set
print(len(location_set_ad))

42

In [19]:
# Determine the number of locations - using icb_ons_code for file ar.

# Create Location_code set - ar
location_set_ar = set(ar['icb_ons_code'])

# Count the set
print(len(location_set_ar))

42

In [20]:
# Determine the number of locations - using sub_icb_location_code for file nc.

# Create Location_code set - nc
region_location_nc = set(nc['sub_icb_location_name'])

# Count the set
print(len(region_location_nc))

106

In [21]:
# Determine the number of locations - using icb_ons_code for file nc.

# Create Location_code set - nc
location_set_nc = set(nc['icb_ons_code'])

# Count the set
print(len(location_set_nc))

42

**Question 2:** What are the five locations with the highest number of records?

In [22]:
# Determine the top five locations based on record count for file ad.
# Use sub_icb_location_name.  
ad['sub_icb_location_name'].value_counts()

NHS Norfolk and Waveney ICB - 26A                       1484
NHS Kent and Medway ICB - 91Q                           1484
NHS North West London ICB - W2U3Z                       1484
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y    1484
NHS Greater Manchester ICB - 14L                        1484
                                                        ...
NHS Staffordshire and Stoke-on-Trent ICB - 05D          1051
NHS South Yorkshire ICB - 03L                           1028
NHS North East and North Cumbria ICB - 00P              1025
NHS South Yorkshire ICB - 02P                           1022
NHS Cheshire and Merseyside ICB - 01F                   1013
Name: sub_icb_location_name, Length: 106, dtype: int64

In [23]:
# Determine the top five locations based on record count ad.
# Use'icb_ons_code'.
ad['icb_ons_code'].value_counts().head()

E54000057    12668
E54000008    10636
E54000050     9938
E54000048     9808
E54000051     7973
Name: icb_ons_code, dtype: int64

In [24]:
# Determine the top five locations based on record count ar.
# Use'icb_ons_code'.
ar['icb_ons_code'].value_counts().head()

E54000057    54527
E54000008    48253
E54000050    43774
E54000048    36360
E54000051    31069
Name: icb_ons_code, dtype: int64

In [25]:
# Determine the top five locations based on record count nc.
# Use sub_icb_location_name.
nc['sub_icb_location_name'].value_counts()

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
                                               ...
NHS North East and North Cumbria ICB - 00N      4210
NHS Lancashire and South Cumbria ICB - 02G      4169
NHS Cheshire and Merseyside ICB - 01V           3496
NHS Cheshire and Merseyside ICB - 01T           3242
NHS Greater Manchester ICB - 00V                2170
Name: sub_icb_location_name, Length: 106, dtype: int64

In [26]:
# Determine the top five locations based on record count nc.
# Use'icb_ons_code'.
nc['icb_ons_code'].value_counts().head()

E54000057    59180
E54000008    53744
E54000050    53707
E54000048    43381
E54000054    42888
Name: icb_ons_code, dtype: int64

**Question 3:** How many service settings, context types, national categories, and appointment statuses are there?

In [27]:
# Determine the number of service settings.
# Create service_setting set - ad
service_setting_nc = set(nc['service_setting'])

#View the set
service_setting_nc

{'Extended Access Provision',
 'General Practice',
 'Other',
 'Primary Care Network',
 'Unmapped'}

In [28]:
# Determine the number of context types.
# Create context type set.
context_type_nc = set(nc['context_type'])

#View the set
context_type_nc

{'Care Related Encounter', 'Inconsistent Mapping', 'Unmapped'}

In [29]:
# Determine the number of national categories.
# Create national category set
national_category_nc = set(nc['national_category'])

#View the set
national_category_nc

{'Care Home Needs Assessment & Personalised Care and Support Planning',
 'Care Home Visit',
 'Clinical Triage',
 'General Consultation Acute',
 'General Consultation Routine',
 'Group Consultation and Group Education',
 'Home Visit',
 'Inconsistent Mapping',
 'Non-contractual chargeable work',
 'Patient contact during Care Home Round',
 'Planned Clinical Procedure',
 'Planned Clinics',
 'Service provided by organisation external to the practice',
 'Social Prescribing Service',
 'Structured Medication Review',
 'Unmapped',
 'Unplanned Clinical Activity',
 'Walk-in'}

In [30]:
# Count the number of national categories options. 
len(national_category_nc)

18

In [31]:
# Determine the number of appointment status.
# Create context type set.
appointment_status_ar = set(ar['appointment_status'])

#View the set
appointment_status_ar

{'Attended', 'DNA', 'Unknown'}

#

# Assignment activity 3

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

**Question 1:** Between what dates were appointments scheduled?

In [32]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [33]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [34]:
# Change the date format of ad['appointment_date'].
# Import the datetime module and datetime class.
from datetime import datetime

# Amend string to datetime format
ad['appointment_date'] = pd.to_datetime(ad['appointment_date'])

ad['appointment_date'] = ad['appointment_date'].dt.strftime('%d/%m/%Y')

# View the DateFrame.
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01/12/2021,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01/12/2021,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01/12/2021,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01/12/2021,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01/12/2021,16-20 Minutes,730

In [35]:
# Change the date format of nc['appointment_date'].
nc['appointment_date'] = nc['appointment_date'].dt.strftime('%d/%m/%Y')

# View the DateFrame.
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,02/08/2021,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,02/08/2021,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,02/08/2021,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,02/08/2021,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,02/08/2021,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [73]:
min(nc['appointment_date'])

'01/01/2022'

In [85]:
# min and max date attempt 2
oldest_appointment_ad_2 = ad['appointment_date'].agg(['min', 'max'])

oldest_appointment_ad_2

min    01/01/2022
max    31/12/2021
Name: appointment_date, dtype: object

In [36]:
# Determine the minimum and maximum dates in the ad DataFrame.
# Use appropriate docstrings.
# Determine the maximum dates
oldest_appointment_ad = (ad['appointment_date'].max())

# Determine the minimum  dates
latest_appointment_ad = (ad['appointment_date'].min())

print(f"The oldest appointment date was {oldest_appointment_ad} and the latest appointment was {latest_appointment_ad}.")

The oldest appointment date was 31/12/2021 and the latest appointment was 01/01/2022.

In [37]:
# Determine the minimum and maximum dates in the nc DataFrame.
# Use appropriate docstrings.
# Determine the maximum dates
oldest_appointment_nc = (nc['appointment_date'].max())

# Determine the minimum  dates
latest_appointment_nc = (nc['appointment_date'].min())

print(f"The oldest appointment date was {oldest_appointment_nc} and the latest appointment was {latest_appointment_nc}.")

The oldest appointment date was 31/12/2021 and the latest appointment was 01/01/2022.

**Question 2:** Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

In [86]:
# For each of these service settings, determine the number of records available for the period and the location.
# Create a subset nc_subset
nc_subset = pd.read_excel('national_categories.xlsx',
                          usecols=['appointment_date','sub_icb_location_name','service_setting','count_of_appointments','appointment_month'])\
.sort_values('count_of_appointments', ascending=False)
 
# View the subset    
nc_subset.head()

,appointment_date,sub_icb_location_name,service_setting,count_of_appointments,appointment_month
732144,2022-05-09,NHS North East London ICB - A3A8R,General Practice,16590,2022-05
732705,2022-05-23,NHS North East London ICB - A3A8R,General Practice,16527,2022-05
724735,2021-10-11,NHS North East London ICB - A3A8R,General Practice,16495,2021-10
724978,2021-10-18,NHS North East London ICB - A3A8R,General Practice,16492,2021-10
732446,2022-05-16,NHS North East London ICB - A3A8R,General Practice,16412,2022-05

In [39]:
# Create filter 
location_date = (nc_subset.loc[(nc_subset['appointment_date'] >= "01/01/2022" ) &
                               (nc_subset['appointment_date'] <= "01/06/2022") &
                              (nc_subset['sub_icb_location_name'] == 'NHS North West London ICB - W2U3Z')])

# View the DataFrame
location_date['service_setting'].value_counts()

General Practice             72
Primary Care Network         38
Other                        35
Extended Access Provision    35
Unmapped                      6
Name: service_setting, dtype: int64

**Question 3:** Which month had the highest number of appointments?

In [40]:
# Number of appointments per month == sum of count_of_appointments by month.
# Use the groupby() and sort_values() functions.

# Total number of appointment using sum.
nc_subset['count_of_appointments'].sum()

296046770

In [98]:
# Total number of appointments by month in date order
nc_subset.groupby('appointment_month')[['count_of_appointments']].agg(['sum'])

                  count_of_appointments
                                    sum
appointment_month
2021-08                        23852171
2021-09                        28522501
2021-10                        30303834
2021-11                        30405070
2021-12                        25140776
2022-01                        25635474
2022-02                        25355260
2022-03                        29595038
2022-04                        23913060
2022-05                        27495508
2022-06                        25828078

In [99]:
# Total number of appointments by month sorted
nc_subset.groupby('appointment_month')[['count_of_appointments']].agg(['sum'])\
.sort_values([('count_of_appointments','sum')], ascending=False)

                  count_of_appointments
                                    sum
appointment_month
2021-11                        30405070
2021-10                        30303834
2022-03                        29595038
2021-09                        28522501
2022-05                        27495508
2022-06                        25828078
2022-01                        25635474
2022-02                        25355260
2021-12                        25140776
2022-04                        23913060
2021-08                        23852171

In [52]:
# Additional question. appointments by location
# total number of appointment by location. 
nc_subset.groupby('sub_icb_location_name')['count_of_appointments'].sum()

sub_icb_location_name
NHS Bath and North East Somerset Swindon and Wiltshire ICB - 92G    5242176
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y                4838515
NHS Birmingham and Solihull ICB - 15E                               6383746
NHS Black Country ICB - D2P2L                                       7033637
NHS Bristol North Somerset and South Gloucestershire ICB - 15C      4899508
                                                                     ...
NHS West Yorkshire ICB - 02T                                        1167094
NHS West Yorkshire ICB - 03R                                        2189894
NHS West Yorkshire ICB - 15F                                        4551619
NHS West Yorkshire ICB - 36J                                        4044545
NHS West Yorkshire ICB - X2C4Y                                      2405219
Name: count_of_appointments, Length: 106, dtype: int64

**Question 4:** What was the total number of records per month?

In [103]:
# Total number of records per month.
# count_of_appointments
nc_subset.groupby('appointment_month')[['count_of_appointments']].agg(['count'])\
.sort_values([('count_of_appointments','count')], ascending=False)

                  count_of_appointments
                                  count
appointment_month
2022-03                           82822
2021-11                           77652
2022-05                           77425
2021-09                           74922
2022-06                           74168
2021-10                           74078
2021-12                           72651
2022-01                           71896
2022-02                           71769
2022-04                           70012
2021-08                           69999

#

# Assignment activity 4

### Create visualisations and identify possible monthly and seasonal trends in the data.

In [ ]:
# Import the necessary libraries.
import seaborn as sns
import matplotlib.pyplot as plt

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

### Objective 1
Create three visualisations indicating the number of appointments per month for service settings, context types, and national categories.

In [ ]:
# Change the data type of the appointment month to string to allow for easier plotting.

In [ ]:
# Aggregate on monthly level and determine the sum of records per month.


# View output.

**Service settings:**

In [ ]:
# Plot the appointments over the available date range, and review the service settings for months.
# Create a lineplot.

**Context types:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the context types for months.
# Create a lineplot.

**National categories:**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Plot the appointments over the available date range, and review the national categories for months.
# Create a lineplot.

### Objective 2
Create four visualisations indicating the number of appointments for service setting per season. The seasons are summer (August 2021), autumn (October 2021), winter (January 2022), and spring (April 2022).

**Summer (August 2021):**

In [ ]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [ ]:
# Look at August 2021 in more detail to allow a closer look.
# Create a lineplot.

**Autumn (October 2021):**

In [ ]:
# Look at October 2021 in more detail to allow a closer look.
# Create a lineplot.

**Winter (January 2022):**

In [ ]:
# Look at January 2022 in more detail to allow a closer look.
# Create a lineplot.

**Spring (April 2022):**

In [ ]:
# Look at April 2022 in more detail to allow a closer look.
# Create a lineplot.

#

# Assignment activity 5

### Analyse tweets from Twitter with hashtags related to healthcare in the UK.

In [ ]:
# Libraries and settings needed for analysis
import pandas as pd
import seaborn as sns

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

# Maximum column width to display
pd.options.display.max_colwidth = 200

In [ ]:
# Load the data set.


# View the DataFrame.

In [ ]:
# Explore the metadata.

In [ ]:
# Explore the data set.

In [ ]:
# Would it be useful to only look at retweeted and favourite tweet messages?
# Explain your answer.

In [ ]:
# Create a new DataFrame containing only the text.


# View the DataFrame.

In [ ]:
# Loop through the messages, and create a list of values containing the # symbol.

In [ ]:
# Display the first 30 records.

In [ ]:
# Convert the series to a DataFrame in preparation for visualisation.


# Rename the columns.

In [ ]:
# Fix the count datatype.


# View the result.

In [ ]:
# Display records where the count is larger than 10.

In [ ]:
# Create a Seaborn barplot indicating records with a count >10 records.

In [ ]:
# Create the plot.


# View the barplot.

#

# Assignment activity 6

### Investigate the main cencerns posed by the NHS.

In [ ]:
# Prepare your workstation.
# Load the appointments_regional.csv file.


# View the DataFrame.

In [ ]:
# Print the min and max dates.

In [ ]:
# Filter the data set to only look at data from 2021-08 onwards.

**Question 1:** Should the NHS start looking at increasing staff levels?

In [ ]:
# Create an aggregated data set to review the different features.


# View the DataFrame.

In [ ]:
# Determine the total number of appointments per month.


# Add a new column to indicate the average utilisation of services.
# Monthly aggregate / 30 to get to a daily value.


# View the DataFrame.

In [ ]:
# Plot sum of count of monthly visits.
# Convert the appointment_month to string data type for ease of visualisation.


# Create a lineplot with Seaborn.

In [ ]:
# Plot monthly capacity utilisation.


# Create a lineplot.

**Question 2:** How do the healthcare professional types differ over time?

In [ ]:
# Create a line plot to answer the question.

**Question 3:** Are there significant changes in whether or not visits are attended?

In [ ]:
# Create a line plot to answer the question.

**Question 4:** Are there changes in terms of appointment type and the busiest months?

In [ ]:
# Create a line plot to answer the question.

**Question 5:** Are there any trends in time between booking an appointment?

In [ ]:
# Create a line plot to answer the question.

**Question 6:** How do the spread of service settings compare?

In [ ]:
# Let's go back to the national category DataFrame you created in an earlier assignment activity.

In [ ]:
# Create a new DataFrame consisting of the month of appointment and the number of appointments.

# View the DataFrame.

In [ ]:
# Create a boxplot to investigate spread of service settings.

In [ ]:
# Create a boxplot to investigate the service settings without GP.

#

### Provide a summary of your findings and recommendations based on the analysis.

> Double click to insert your summary.